@import './colors.css';

:root {

    /* System */
    --semantic-system-50-4A: var(--color-grey-50-4A);
    --semantic-system-50-8A: var(--color-grey-50-8A);
    --semantic-system-50-16A: var(--color-grey-50-16A);
    --semantic-system-50-24A: var(--color-grey-50-24A);
    --semantic-system-50-32A: var(--color-grey-50-32A);
    --semantic-system-50-100A: var(--color-grey-50-100A);
    --semantic-system-100: var(--color-grey-100);
    --semantic-system-150: var(--color-grey-150);
    --semantic-system-200: var(--color-grey-200);
    --semantic-system-250: var(--color-grey-250);
    --semantic-system-300: var(--color-grey-300);
    --semantic-system-400: var(--color-grey-400);
    --semantic-system-500: var(--color-grey-500);
    --semantic-system-600: var(--color-grey-600);
    --semantic-system-700: var(--color-grey-700);
    --semantic-system-750: var(--color-grey-750);
    --semantic-system-800: var(--color-grey-800);
    --semantic-system-850: var(--color-grey-850);
    --semantic-system-900: var(--color-grey-900);
    --semantic-system-950-4A: var(--color-grey-950-4A);
    --semantic-system-950-8A: var(--color-grey-950-8A);
    --semantic-system-950-16A: var(--color-grey-950-16A);
    --semantic-system-950-24A: var(--color-grey-950-24A);
    --semantic-system-950-32A: var(--color-grey-950-32A);
    --semantic-system-950-100A: var(--color-grey-950-100A);

    /* Accent */
    --semantic-accent-50: var(--color-orange-50);
    --semantic-accent-100: var(--color-orange-100);
    --semantic-accent-150: var(--color-orange-150);
    --semantic-accent-200: var(--color-orange-200);
    --semantic-accent-250: var(--color-orange-250);
    --semantic-accent-300: var(--color-orange-300);
    --semantic-accent-400: var(--color-orange-400);
    --semantic-accent-500-4A: var(--color-orange-500-4A);
    --semantic-accent-500-8A: var(--color-orange-500-8A);
    --semantic-accent-500-16A: var(--color-orange-500-16A);
    --semantic-accent-500-24A: var(--color-orange-500-24A);
    --semantic-accent-500-32A: var(--color-orange-500-32A);
    --semantic-accent-500-100A: var(--color-orange-500-100A);
    --semantic-accent-600: var(--color-orange-600);
    --semantic-accent-700: var(--color-orange-700);
    --semantic-accent-750: var(--color-orange-750);
    --semantic-accent-800: var(--color-orange-800);
    --semantic-accent-850: var(--color-orange-850);
    --semantic-accent-900: var(--color-orange-900);
    --semantic-accent-950: var(--color-orange-950);

    /* Positive */
    --semantic-positive-50: var(--color-green-50);
    --semantic-positive-100: var(--color-green-100);
    --semantic-positive-150: var(--color-green-150);
    --semantic-positive-200: var(--color-green-200);
    --semantic-positive-250: var(--color-green-250);
    --semantic-positive-300: var(--color-green-300);
    --semantic-positive-400: var(--color-green-400);
    --semantic-positive-500-4A: var(--color-green-500-4A);
    --semantic-positive-500-8A: var(--color-green-500-8A);
    --semantic-positive-500-16A: var(--color-green-500-16A);
    --semantic-positive-500-24A: var(--color-green-500-24A);
    --semantic-positive-500-32A: var(--color-green-500-32A);
    --semantic-positive-500-100A: var(--color-green-500-100A);
    --semantic-positive-600: var(--color-green-600);
    --semantic-positive-700: var(--color-green-700);
    --semantic-positive-750: var(--color-green-750);
    --semantic-positive-800: var(--color-green-800);
    --semantic-positive-850: var(--color-green-850);
    --semantic-positive-900: var(--color-green-900);
    --semantic-positive-950: var(--color-green-950);

    /* Negative */
    --semantic-negative-50: var(--color-red-50);
    --semantic-negative-100: var(--color-red-100);
    --semantic-negative-150: var(--color-red-150);
    --semantic-negative-200: var(--color-red-200);
    --semantic-negative-250: var(--color-red-250);
    --semantic-negative-300: var(--color-red-300);
    --semantic-negative-400: var(--color-red-400);
    --semantic-negative-500-4A: var(--color-red-500-4A);
    --semantic-negative-500-8A: var(--color-red-500-8A);
    --semantic-negative-500-16A: var(--color-red-500-16A);
    --semantic-negative-500-24A: var(--color-red-500-24A);
    --semantic-negative-500-32A: var(--color-red-500-32A);
    --semantic-negative-500-100A: var(--color-red-500-100A);
    --semantic-negative-600: var(--color-red-600);
    --semantic-negative-700: var(--color-red-700);
    --semantic-negative-750: var(--color-red-750);
    --semantic-negative-800: var(--color-red-800);
    --semantic-negative-850: var(--color-red-850);
    --semantic-negative-900: var(--color-red-900);
    --semantic-negative-950: var(--color-red-950);

    /* Warning */
    --semantic-warning-50: var(--color-yellow-50);
    --semantic-warning-100: var(--color-yellow-100);
    --semantic-warning-150: var(--color-yellow-150);
    --semantic-warning-200: var(--color-yellow-200);
    --semantic-warning-250: var(--color-yellow-250);
    --semantic-warning-300: var(--color-yellow-300);
    --semantic-warning-400: var(--color-yellow-400);
    --semantic-warning-500-4A: var(--color-yellow-500-4A);
    --semantic-warning-500-8A: var(--color-yellow-500-8A);
    --semantic-warning-500-16A: var(--color-yellow-500-16A);
    --semantic-warning-500-24A: var(--color-yellow-500-24A);
    --semantic-warning-500-32A: var(--color-yellow-500-32A);
    --semantic-warning-500-100A: var(--color-yellow-500-100A);
    --semantic-warning-600: var(--color-yellow-600);
    --semantic-warning-700: var(--color-yellow-700);
    --semantic-warning-750: var(--color-yellow-750);
    --semantic-warning-800: var(--color-yellow-800);
    --semantic-warning-850: var(--color-yellow-850);
    --semantic-warning-900: var(--color-yellow-900);
    --semantic-warning-950: var(--color-yellow-950);

    /* Info */
    --semantic-info-50: var(--color-blue-50);
    --semantic-info-100: var(--color-blue-100);
    --semantic-info-150: var(--color-blue-150);
    --semantic-info-200: var(--color-blue-200);
    --semantic-info-250: var(--color-blue-250);
    --semantic-info-300: var(--color-blue-300);
    --semantic-info-400: var(--color-blue-400);
    --semantic-info-500-4A: var(--color-blue-500-4A);
    --semantic-info-500-8A: var(--color-blue-500-8A);
    --semantic-info-500-16A: var(--color-blue-500-16A);
    --semantic-info-500-24A: var(--color-blue-500-24A);
    --semantic-info-500-32A: var(--color-blue-500-32A);
    --semantic-info-500-100A: var(--color-blue-500-100A);
    --semantic-info-600: var(--color-blue-600);
    --semantic-info-700: var(--color-blue-700);
    --semantic-info-750: var(--color-blue-750);
    --semantic-info-800: var(--color-blue-800);
    --semantic-info-850: var(--color-blue-850);
    --semantic-info-900: var(--color-blue-900);
    --semantic-info-950: var(--color-blue-950);

    /* Utility */
    --semantic-utility-50: var(--color-purple-50);
    --semantic-utility-100: var(--color-purple-100);
    --semantic-utility-150: var(--color-purple-150);
    --semantic-utility-200: var(--color-purple-200);
    --semantic-utility-250: var(--color-purple-250);
    --semantic-utility-300: var(--color-purple-300);
    --semantic-utility-400: var(--color-purple-400);
    --semantic-utility-500-4A: var(--color-purple-500-4A);
    --semantic-utility-500-8A: var(--color-purple-500-8A);
    --semantic-utility-500-16A: var(--color-purple-500-16A);
    --semantic-utility-500-24A: var(--color-purple-500-24A);
    --semantic-utility-500-32A: var(--color-purple-500-32A);
    --semantic-utility-500-100A: var(--color-purple-500-100A);
    --semantic-utility-600: var(--color-purple-600);
    --semantic-utility-700: var(--color-purple-700);
    --semantic-utility-750: var(--color-purple-750);
    --semantic-utility-800: var(--color-purple-800);
    --semantic-utility-850: var(--color-purple-850);
    --semantic-utility-900: var(--color-purple-900);
    --semantic-utility-950: var(--color-purple-950);
}