@import './semantic.css';

:root {
    /* Backround */
    --theme-background-base: var(--semantic--system-950-100A);
    --theme-background-xL: var(--semantic-system-900);
    --theme-background-L: var(--semantic-system-850);
    --theme-background-M: var(--semantic-system-800);
    --theme-background-S: var(--semantic-system-750);
    --theme-background-elevated: var(--semantic-system-700);
    --theme-background-contrast: var(--semantic-system-100);
    --theme-background-static-dark: var(--semantic-system-950-100A);
    --theme-background-static-light: var(--semantic-system-50-100A);
    --theme-background-disabled: var(--semantic-system-50-8A);

    /* System */
    --theme-background-system-default: var(--semantic-system-50-100A);
    --theme-background-system-hover: var(--semantic-system-200);
    --theme-background-system-active: var(--semantic-system-400);
    --theme-background-system-container-default: var(--semantic-system-50-16A);
    --theme-background-system-container-soft: var(--semantic-system-50-8A);
    --theme-background-system-container-muted: var(--semantic-system-50-4A);
    --theme-background-system-container-hover: var(--semantic-system-50-24A);
    --theme-background-system-container-active: var(--semantic-system-50-32A);

    /* Neutral */
    --theme-background-neutral-default: var(--semantic-system-50-100A);
    --theme-background-neutral-hover: var(--semantic-system-200);
    --theme-background-neutral-active: var(--semantic-system-400);
    --theme-background-neutral-container-default: var(--semantic-system-50-16A);
    --theme-background-neutral-container-soft: var(--semantic-system-50-8A);
    --theme-background-neutral-container-muted: var(--semantic-system-50-4A);
    --theme-background-neutral-container-hover: var(--semantic-system-50-24A);
    --theme-background-neutral-container-active: var(--semantic-system-50-32A);

    /* Accent */
    --theme-background-accent-default: var(--semantic-accent-500-100A);
    --theme-background-accent-hover: var(--semantic-accent-300);
    --theme-background-accent-active: var(--semantic-accent-200);
    --theme-background-accent-container-default: var(--semantic-accent-50-16A);
    --theme-background-accent-container-soft: var(--semantic-accent-50-8A);
    --theme-background-accent-container-muted: var(--semantic-accent-50-4A);
    --theme-background-accent-container-hover: var(--semantic-accent-50-24A);
    --theme-background-accent-container-active: var(--semantic-accent-50-32A);

    /* Positive */
    --theme-background-positive-default: var(--semantic-positive-500-100A);
    --theme-background-positive-hover: var(--semantic-positive-300);
    --theme-background-positive-active: var(--semantic-positive-200);
    --theme-background-positive-container-default: var(--semantic-positive-50-16A);
    --theme-background-positive-container-soft: var(--semantic-positive-50-8A);
    --theme-background-positive-container-muted: var(--semantic-positive-50-4A);
    --theme-background-positive-container-hover: var(--semantic-positive-50-24A);
    --theme-background-positive-container-active: var(--semantic-positive-50-32A);

    /* Negative */
    --theme-background-negative-default: var(--semantic-negative-500-100A);
    --theme-background-negative-hover: var(--semantic-negative-300);
    --theme-background-negative-active: var(--semantic-negative-200);
    --theme-background-negative-container-default: var(--semantic-negative-50-16A);
    --theme-background-negative-container-soft: var(--semantic-negative-50-8A);
    --theme-background-negative-container-muted: var(--semantic-negative-50-4A);
    --theme-background-negative-container-hover: var(--semantic-negative-50-24A);
    --theme-background-negative-container-active: var(--semantic-negative-50-32A);

    /* Warning */
    --theme-background-warning-default: var(--semantic-warning-500-100A);
    --theme-background-warning-hover: var(--semantic-warning-300);
    --theme-background-warning-active: var(--semantic-warning-200);
    --theme-background-warning-container-default: var(--semantic-warning-50-16A);
    --theme-background-warning-container-soft: var(--semantic-warning-50-8A);
    --theme-background-warning-container-muted: var(--semantic-warning-50-4A);
    --theme-background-warning-container-hover: var(--semantic-warning-50-24A);
    --theme-background-warning-container-active: var(--semantic-warning-50-32A);

    /* Info */
    --theme-background-info-default: var(--semantic-info-500-100A);
    --theme-background-info-hover: var(--semantic-info-300);
    --theme-background-info-active: var(--semantic-info-200);
    --theme-background-info-container-default: var(--semantic-info-50-16A);
    --theme-background-info-container-soft: var(--semantic-info-50-8A);
    --theme-background-info-container-muted: var(--semantic-info-50-4A);
    --theme-background-info-container-hover: var(--semantic-info-50-24A);
    --theme-background-info-container-active: var(--semantic-info-50-32A);

    /* Utility */
    --theme-background-utility-default: var(--semantic-utility-500-100A);
    --theme-background-utility-hover: var(--semantic-utility-300);
    --theme-background-utility-active: var(--semantic-utility-200);
    --theme-background-utility-container-default: var(--semantic-utility-50-16A);
    --theme-background-utility-container-soft: var(--semantic-utility-50-8A);
    --theme-background-utility-container-muted: var(--semantic-utility-50-4A);
    --theme-background-utility-container-hover: var(--semantic-utility-50-24A);
    --theme-background-utility-container-active: var(--semantic-utility-50-32A);

    /* Foreground */
    --theme-foreground-primary: var(--semantic-system-50-100A);
    --theme-foreground-soft: var(--semantic-system-200);
    --theme-foreground-muted: var(--semantic-system-400);
    --theme-foreground-contrast: var(--semantic-system-950-100A);
    --theme-foreground-static-dark: var(--semantic-system-50-100A);
    --theme-foreground-static-light: var(--semantic-system-950-100A);
    --theme-foreground-disabled: var(--semantic-system-50-16A);

    /* System */
    --theme-foreground-system-on-background: var(--semantic-system-950-100A);
    --theme-foreground-system-default: var(--theme-background-system-default);
    --theme-foreground-system-hover: var(--theme-background-system-hover);
    --theme-foreground-system-active: var(--theme-background-system-active);

    /* Neutral */
    --theme-foreground-neutral-on-background: var(--semantic-system-50-100A);
    --theme-foreground-neutral-default: var(--theme-background-neutral-default);
    --theme-foreground-neutral-hover: var(--theme-background-neutral-hover);
    --theme-foreground-neutral-active: var(--theme-background-neutral-active);

    /* Accent */
    --theme-foreground-accent-on-background: var(--semantic-accent-950);
    --theme-foreground-accent-default: var(--theme-background-accent-default);
    --theme-foreground-accent-hover: var(--theme-background-accent-hover);
    --theme-foreground-accent-active: var(--theme-background-accent-active);

    /* Positive */
    --theme-foreground-positive-on-background: var(--semantic-postivie-950);
    --theme-foreground-positive-default: var(--theme-background-positive-default);
    --theme-foreground-positive-hover: var(--theme-background-positive-hover);
    --theme-foreground-positive-active: var(--theme-background-positive-active);

    /* Negative */
    --theme-foreground-negative-on-background: var(--semantic-negative-950);
    --theme-foreground-negative-default: var(--theme-background-negative-default);
    --theme-foreground-negative-hover: var(--theme-background-negative-hover);
    --theme-foreground-negative-active: var(--theme-background-negative-active);

    /* Warning */
    --theme-foreground-warning-on-background: var(--semantic-warning-950);
    --theme-foreground-warning-default: var(--theme-background-warning-default);
    --theme-foreground-warning-hover: var(--theme-background-warning-hover);
    --theme-foreground-warning-active: var(--theme-background-warning-active);

    /* Info */
    --theme-foreground-info-on-background: var(--semantic-info-950);
    --theme-foreground-info-default: var(--theme-background-info-default);
    --theme-foreground-info-hover: var(--theme-background-info-hover);
    --theme-foreground-info-active: var(--theme-background-info-active);

    /* Utility */
    --theme-foreground-utility-on-background: var(--semantic-utility-950);
    --theme-foreground-utility-default: var(--theme-background-utility-default);
    --theme-foreground-utility-hover: var(--theme-background-utility-hover);
    --theme-foreground-utility-active: var(--theme-background-utility-active);
}