@import './theme.css';
@import './appereance.css';

:root {
    /* Surface */
    --surface-base: var(--theme-background-base);
    --surface-xL: var(--theme-background-xL);
    --surface-L: var(--theme-background-L);
    --surface-M: var(--theme-background-M);
    --surface-S: var(--theme-background-S);
    --surface-elevated: var(--theme-background-elevated);
    --surface-static-dark: var(--theme-background-static-dark);
    --surface-static-light: var(--theme-background-static-light);
    --surface-contrast: var(--theme-background-contrast);
    --surface-disabled: var(--theme-background-disabled);

    /* System */
    --surface-system-default: var(--appereance-system-default);
    --surface-system-hover: var(--appereance-system-hover);
    --surface-system-active: var(--appereance-system-active);
    --surface-system-container-default: var(--theme-background-system-container-default);
    --surface-system-container-soft: var(--theme-background-system-container-soft);
    --surface-system-container-muted: var(--theme-background-system-container-muted);

    /* Neutral */
    --surface-neutral-default: var(--appereance-neutral-default);
    --surface-neutral-hover: var(--appereance-neutral-hover);
    --surface-neutral-active: var(--apperenance-neutral-active);
    --surface-neutral-container-default: var(--theme-background-neutral-container-default);
    --surface-neutral-container-soft: var(--theme-background-neutral-container-soft);
    --surface-neutral-container-muted: var(--theme-background-muted);

    /* Accent */
    --surface-accent-default: var(--appereance-accent-default);
    --surface-accent-hover: var(--appereance-accent-hover);
    --surface-accent-active: var(--appereance-accent-active);
    --surface-accent-container-default: var(--theme-background-accent-container-default);
    --surface-accent-container-soft: var(--theme-background-acccent-container-soft);
    --surface-accent-container-muted: var(--theme-background-accent-container-muted);

    /* Positive */
    --surface-positive-default: var(--appereance-positive-default);
    --surface-positive-hover: var(--appereance-positive-hover);
    --surface-positive-active: var(--appereance-positive-active);
    --surface-positive-container-default: var(--theme-background-positive-container-default);
    --surface-positive-container-soft: var(--theme-background-positive-container-soft);
    --surface-positive-container-muted: var(--theme-background-positive-container-muted);

    /* Warning */
    --surface-warning-default: var(--appereance-warning-default);
    --surface-warning-hover: var(--appereance-warning-hover);
    --surface-warning-active: var(--appereance-warning-active);
    --surface-warning-container-default: var(--theme-background-warning-container-default);
    --surface-warning-container-soft: var(--theme-background-warning-container-soft);
    --surface-warning-container-muted: var(--theme-background-warning-container-muted);

    /* Info */
    --surface-info-default: var(--appereance-info-default);
    --surface-info-hover: var(--appereance-info-hover);
    --surface-info-active: var(--appereance-info-active);
    --surface-info-container-default: var(--theme-background-info-container-default);
    --surface-info-container-soft: var(--theme-background-info-container-soft);
    --surface-info-container-mutedL: var(--theme-background-info-container-muted);

    /* Utility */
    --surface-utility-default: var(--appereance-utility-default);
    --surface-utility-hover: var(--appereance-utility-hover);
    --surface-utility-active: var(--appereance-utility-active);
    --surface-utility-container-default: var(--theme-background-utility-container-default);
    --surface-utility-container-soft: var(--theme-background-utility-container-soft);
    --surface-utility-container-muted: var(--theme-background-utility-container-);

    /* Foreground */
    --foreground-primary: var(--theme-foreground-primary);
    --foreground-soft: var(--theme-foreground-soft);
    --foreground-muted: var(--theme-foreground-muted);
    --foreground-contrast: var(--theme-foreground-contrast);
    --foreground-static-dark: var(--theme-foreground-static-dark);
    --foreground-static-light: var(--theme-foreground-static-light);
    --foreground-disabled: var(--theme-foreground-disabled);

    /* System */
    --foreground-system-on-system: var(--appereance-system-on-system);
    --foreground-system-default: var(--theme-foreground-system-default);
    --foreground-system-hover: var(--theme-foreground-system-hover);
    --foreground-system-active: var(--theme-foreground-system-active);

    /* Neutral */
    --foreground-neutral-on-neutral: var(--appereance-neutral-on-neutral);
    --foreground-neutral-default: var(--theme-foreground-neutral-default);
    --foreground-neutral-hover: var(--theme-foreground-neutral-hover);
    --foreground-neutral-active: var(--theme-foreground-neutral-active);

    /* Accent */
    --foreground-accent-on-accent: var(--appereance-accent-on-accent);
    --foreground-accent-default: var(--theme-foreground-accent-default);
    --foreground-accent-hover: var(--theme-foreground-accent-hover);
    --foreground-accent-active: var(--theme-foreground-accent-active);

    /* Positive */
    --foreground-positive-on-positive: var(--appereance-positive-on-positive);
    --foreground-positive-default: var(--theme-foreground-positive-default);
    --foreground-positive-hover: var(--theme-foreground-positive-hover);
    --foreground-positive-active: var(--theme-foreground-positive-active);

    /* Negative */
    --foreground-negative-on-negative: var(--appereance-negative-on-negative);
    --foreground-negative-default: var(--theme-foreground-negative-default);
    --foreground-negative-hover: var(--theme-foreground-negative-hover);
    --foreground-negative-active: var(--theme-foreground-negative-active);

    /* Warning */
    --foreground-warning-on-warning: var(--appereance-warning-on-warning);
    --foreground-warning-default: var(--theme-foreground-warning-default);
    --foreground-warning-hover: var(--theme-foreground-warning-hover);
    --foreground-warning-active: var(--theme-foreground-warning-active);

    /* Info */
    --foreground-info-on-info: var(--appereance-info-on-info);
    --foreground-info-default: var(--theme-foreground-info-default);
    --foreground-info-hover: var(--theme-foreground-info-hover);
    --foreground-info-active: var(--theme-foreground-info-active);

    /* Utility */
    --foreground-utility-on-utility: var(--appereance-utility-on-utility);
    --foreground-utility-default: var(--theme-foreground-utility-default);
    --foreground-utility-hover: var(--theme-foreground-utility-hover);
    --foreground-utility-active: var(--theme-foreground-utility-active);
}